<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <appSettings>
    <!-- Fill in ApplicationId before running importer. -->
    <add key="MyTrails.Importer.BingMaps.ApplicationId" value="" />
    
    <add key="MyTrails.ServiceLib.Wta.MaxConcurrentRequests" value="15" />
    <add key="MyTrails.ServiceLib.Wta.SearchTimeout" value="0:15:00" />
    <add key="MyTrails.ServiceLib.Wta.TripReportsTimeout" value="0:00:05" />
    <add key="MyTrails.ServiceLib.Wta.RetryCount" value="5" />
    <add key="MyTrails.ServiceLib.Wta.RetryMinBackOff" value="0:0:0.100" />
    <add key="MyTrails.ServiceLib.Wta.RetryMaxBackOff" value="0:0:5" />
    <add key="MyTrails.ServiceLib.Wta.RetryDeltaBackOff" value="0:0:0.500" />
  </appSettings>
    
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss.ff}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRouteService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IRouteService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService"
        contract="BingMaps.Routing.IRouteService" name="BasicHttpBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IRouteService"
        contract="BingMaps.Routing.IRouteService" name="CustomBinding_IRouteService" />
    </client>
  </system.serviceModel>
</configuration>